/*日期筛选 1080px*/
.pp-pick-date{position:fixed;top:0;left:0;right:0;bottom:0;z-index:1002;}
.pp-pick-date .mask{position:absolute;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,0.6);}
.pp-pick-date .body{position:absolute;bottom:0;left:0;right:0;transform:translate(0,0);border-radius:42px 42px 0 0;font-size:32px;background:#fff;display:flex;flex-direction:column;}
.pp-pick-date .toolbar{padding:48px 0 48px 40px;display:flex;align-items:center;}
.pp-pick-date .toolbar .space{flex:1;}
.pp-pick-date .toolbar .btn-ok{padding:0 40px;line-height:90px;font-size:43px;font-weight:700;color:#F13349;}
.pp-pick-date .toolbar .btn-mode{padding:0 40px;line-height:90px;border-radius:45px;background:#F5F6F7;font-size:36px;margin-right:36px;}
.pp-pick-date .toolbar .btn-mode-on{background:#FEF1F2;color:#F13349;}
.pp-pick-date .date{display:flex;margin:0 40px;padding:28px 0;border:solid rgba(238,238,238,0.5);border-width:1px 0;line-height:1;position:relative;z-index:9;background:#fff;}
.pp-pick-date .date .ipt{flex:1;text-align:center;}
.pp-pick-date .date .c1{padding-top:30px;font-size:42px;color:#ccc;}
.pp-pick-date .date .on .c1{color:#2C9FFE;}
.pp-pick-date .date .ipt.on .c0{color:#F13349;}
.pp-pick-date .calendar{height:280px;margin:50px 40px;position:relative;overflow:hidden;}
.pp-pick-date .calendar-bd{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:100%;height:238Px;justify-content:center;display:flex;overflow:hidden;}
.pp-pick-date .calendar-group{max-width:25%;flex:1;position:relative;height:100%;}
.pp-pick-date .calendar-item{color:#ccc;font-size:46px;padding:0;height:34Px;line-height:34Px;text-align:center;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.pp-pick-date .calendar-item-light{color:#333;font-size:63px;transition:0.3s;}
.pp-pick-date .calendar-unit{position:absolute;top:50%;left:50%;transform:translate(50px,-50%);white-space:nowrap;}
.pp-pick-date .calendar-wide_unit{transform:translate(100px,-50%);}
.pp-pick-date .calendar-ul{position:absolute;top:0;left:0;width:100%;}
.pp-pick-date .btm{padding-top:30px;background:#F5F6F7;}
.pp-pick-date .close{line-height:140px;background:#fff;text-align:center;font-size:43px;}
@-webkit-keyframes pp-pick-date-a{
  0%{-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}
  to{-webkit-transform:translateZ(0);transform:translateZ(0)}
}
@keyframes pp-pick-date-a{
  0%{-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}
  to{-webkit-transform:translateZ(0);transform:translateZ(0)}
}
.animate-slide-up{-webkit-animation:pp-pick-date-a ease .3s forwards;animation:pp-pick-date-a ease .3s forwards}
@-webkit-keyframes pp-pick-date-b{
  0%{-webkit-transform:translateZ(0);transform:translateZ(0)}
  to{-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}
}
@keyframes pp-pick-date-b{
  0%{-webkit-transform:translateZ(0);transform:translateZ(0)}
  to{-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}
}
.animate-slide-down{-webkit-animation:pp-pick-date-b ease .3s forwards;animation:pp-pick-date-b ease .3s forwards}
@-webkit-keyframes pp-pick-date-c{
  0%{opacity:0}
  to{opacity:1}
}
@keyframes pp-pick-date-c{
  0%{opacity:0}
  to{opacity:1}
}
.animate-fade-in{-webkit-animation:pp-pick-date-c ease .3s forwards;animation:pp-pick-date-c ease .3s forwards}
@-webkit-keyframes pp-pick-date-d{
  0%{opacity:1}
  to{opacity:0}
}
@keyframes d{
  0%{opacity:1}
  to{opacity:0}
}
.animate-fade-out{-webkit-animation:pp-pick-date-d ease .3s forwards;animation:pp-pick-date-d ease .3s forwards}